:root {
    --main-color: #0669db;
    --background: #d2d2d2;
    --panel-background: #f1f1f1;

    --menu-background: #9e9e9e;
    --menu-border: #666666;
    --menu-hover: #c7c7c7;

    --icon-color: #0669db;
    --form-border: #5e5e5e93;
    --element-border: #97939393;

    --okColor: green;
    --okColorBackground: rgba(0, 128, 0, 0.592);
    --notOkColor: rgb(189, 0, 0);
    --notOkColorBackground: rgba(189, 0, 0, 0.592);
}